td {
    width: 1em;
    height: 1em;
}

.alive{
    background-color: black;
}
#launch {

}


/*.menu{*/
/*    width : 50%;*/
/*}*/
/*.menu .menu_button{*/
/*    margin : 0;*/
/*    float: right;*/
/*    height: 158px;*/
/*}*/

/*.menu .menu_button{*/
/*    width : 0px;*/
/*    cursor : pointer;*/
/*}*/

